{% extends "base.html" %}
{% block content %}
<h2>Chatbot</h2>
<div id="chat-container">
	<div id="chat-history">
		<div class="bot-message">
			What type of trip would you like to go one? Please tell me where, when, and how many people
		</div>
		<!-- {% for message in chat_history %} -->
			{% if message.user %}
				<div class="user-message">
					{{ message.text }}
				</div>
			{% else %}
				<div class="bot-message">
					{{ message.text }}
				</div>
			{% endif %}
		<!-- {% endfor %} -->
	</div>
</div>
<div id="user-input">
	<form id="chat-form" method="post">
		{% csrf_token %}
		<input type="text" id="user-text" name="user_text" placeholder="Type your message...">
		<button type="submit">Send</button>
	</form>
</div>

{% endblock content %}